make-scenarios/make_s1_website_form.json
{
  "name": "Edge \u2014 1: Website Form \u2192 HubSpot Contact",
  "flow": [
    {
      "id": 1,
      "module": "gateway:CustomWebHook",
      "version": 1,
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0
        }
      },
      "parameters": {
        "hook": "edge-website-lead",
        "maxResults": 1
      },
      "mapper": {}
    },
    {
      "id": 2,
      "module": "http:ActionSendData",
      "version": 3,
      "metadata": {
        "designer": {
          "x": 300,
          "y": 0
        }
      },
      "parameters": {
        "handleErrors": false,
        "useNewZLibDecompress": true
      },
      "mapper": {
        "url": "https://api.hubapi.com/crm/v3/objects/contacts",
        "serializeUrl": false,
        "method": "POST",
        "headers": [
          {
            "name": "Content-Type",
            "value": "application/json"
          },
          {
            "name": "Authorization",
            "value": "Bearer {{HUBSPOT_API_KEY}}"
          }
        ],
        "qs": [],
        "bodyType": "raw",
        "parseResponse": true,
        "authUser": "",
        "authPass": "",
        "timeout": "",
        "shareCookies": false,
        "ca": "",
        "rejectUnauthorized": true,
        "followRedirect": true,
        "useQuerystring": false,
        "gzip": true,
        "useMtls": false,
        "contentType": "application/json",
        "data": "{\"properties\": {\"firstname\": \"{{1.name | split: ' ' | first}}\", \"lastname\": \"{{1.name | split: ' ' | last}}\", \"email\": \"{{1.email}}\", \"company\": \"{{1.company}}\", \"phone\": \"{{1.phone}}\", \"lead_source_detail\": \"website_form\"}}"
      }
    },
    {
      "id": 3,
      "module": "http:ActionSendData",
      "version": 3,
      "metadata": {
        "designer": {
          "x": 600,
          "y": 0
        }
      },
      "parameters": {
        "handleErrors": false,
        "useNewZLibDecompress": true
      },
      "mapper": {
        "url": "https://api.hubapi.com/crm/v3/objects/companies",
        "serializeUrl": false,
        "method": "POST",
        "headers": [
          {
            "name": "Content-Type",
            "value": "application/json"
          },
          {
            "name": "Authorization",
            "value": "Bearer {{HUBSPOT_API_KEY}}"
          }
        ],
        "qs": [],
        "bodyType": "raw",
        "parseResponse": true,
        "authUser": "",
        "authPass": "",
        "timeout": "",
        "shareCookies": false,
        "ca": "",
        "rejectUnauthorized": true,
        "followRedirect": true,
        "useQuerystring": false,
        "gzip": true,
        "useMtls": false,
        "contentType": "application/json",
        "data": "{\"properties\": {\"name\": \"{{1.company}}\", \"lead_source_detail\": \"website_form\"}}"
      }
    },
    {
      "id": 4,
      "module": "gmail:ActionSendEmail",
      "version": 1,
      "metadata": {
        "designer": {
          "x": 900,
          "y": 0
        }
      },
      "mapper": {
        "to": "{{BROKER_EMAIL}}",
        "subject": "\ud83c\udf10 New website lead: {{1.company}}",
        "content": "New enquiry from the website:\n\nName: {{1.name}}\nEmail: {{1.email}}\nCompany: {{1.company}}\nPhone: {{1.phone}}\n\nContact created in HubSpot. No deal yet \u2014 broker to follow up.",
        "contentType": "text"
      }
    }
  ],
  "metadata": {
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true
    },
    "designer": {
      "orphans": []
    }
  }
}