site/make-scenarios/make_s5_rfq_emails.json
{
  "name": "Edge \u2014 5: Supplier Data Received \u2192 RFQ Emails",
  "flow": [
    {
      "id": 1,
      "module": "gateway:CustomWebHook",
      "version": 1,
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0
        }
      },
      "parameters": {
        "hook": "edge-supplier-data",
        "maxResults": 1
      },
      "mapper": {}
    },
    {
      "id": 2,
      "module": "http:ActionSendData",
      "version": 3,
      "metadata": {
        "designer": {
          "x": 300,
          "y": 0
        }
      },
      "parameters": {
        "handleErrors": false,
        "useNewZLibDecompress": true
      },
      "mapper": {
        "url": "https://api.hubapi.com/crm/v3/objects/deals/{{1.dealId}}",
        "serializeUrl": false,
        "method": "PATCH",
        "headers": [
          {
            "name": "Content-Type",
            "value": "application/json"
          },
          {
            "name": "Authorization",
            "value": "Bearer {{HUBSPOT_API_KEY}}"
          }
        ],
        "qs": [],
        "bodyType": "raw",
        "parseResponse": true,
        "authUser": "",
        "authPass": "",
        "timeout": "",
        "shareCookies": false,
        "ca": "",
        "rejectUnauthorized": true,
        "followRedirect": true,
        "useQuerystring": false,
        "gzip": true,
        "useMtls": false,
        "contentType": "application/json",
        "data": "{\"properties\": {\"mpan\": \"{{1.mpan}}\", \"annual_kwh\": \"{{1.annualKwh}}\", \"current_unit_rate\": \"{{1.unitRate}}\", \"contract_end_date\": \"{{1.contractEndDate}}\", \"profile_class\": \"{{1.profileClass}}\"}}"
      }
    },
    {
      "id": 3,
      "module": "http:ActionSendData",
      "version": 3,
      "metadata": {
        "designer": {
          "x": 600,
          "y": 0
        }
      },
      "parameters": {
        "handleErrors": false,
        "useNewZLibDecompress": true
      },
      "mapper": {
        "url": "https://api.hubapi.com/crm/v3/objects/deals/{{1.dealId}}?properties=dealname,mpan,annual_kwh,profile_class,contract_end_date,current_supplier,current_unit_rate,loa_docusign_envelope_id",
        "serializeUrl": false,
        "method": "GET",
        "headers": [
          {
            "name": "Authorization",
            "value": "Bearer {{HUBSPOT_API_KEY}}"
          }
        ],
        "qs": [],
        "bodyType": "raw",
        "parseResponse": true,
        "authUser": "",
        "authPass": "",
        "timeout": "",
        "shareCookies": false,
        "ca": "",
        "rejectUnauthorized": true,
        "followRedirect": true,
        "useQuerystring": false,
        "gzip": true,
        "useMtls": false,
        "contentType": "application/json",
        "data": ""
      }
    },
    {
      "id": 4,
      "module": "gmail:ActionSendEmail",
      "version": 1,
      "metadata": {
        "designer": {
          "x": 900,
          "y": 0
        }
      },
      "mapper": {
        "to": "{{SUPPLIER_EMAIL}}",
        "subject": "RFQ: {{3.properties.dealname}} (Ref: {{1.dealId}})",
        "content": "Dear Energy Supply Team,\n\nPlease provide quotes for the following. Signed LOA available on request.\n\nCompany: {{3.properties.dealname}}\nMPAN: {{3.properties.mpan}}\nAnnual kWh: {{3.properties.annual_kwh}}\nProfile Class: {{3.properties.profile_class}}\nContract End: {{3.properties.contract_end_date}}\nCurrent Supplier: {{3.properties.current_supplier}}\nCurrent Rate: {{3.properties.current_unit_rate}}p/kWh\n\nPlease quote 1, 2, 3, 4 and 5 year terms (unit rate p/kWh + standing charge p/day).\n\nSend to: info@edgeenergy.co.uk\nRef: {{1.dealId}}\n\nEdge Energy",
        "contentType": "text"
      }
    },
    {
      "id": 5,
      "module": "http:ActionSendData",
      "version": 3,
      "metadata": {
        "designer": {
          "x": 1200,
          "y": 0
        }
      },
      "parameters": {
        "handleErrors": false,
        "useNewZLibDecompress": true
      },
      "mapper": {
        "url": "https://api.hubapi.com/crm/v3/objects/deals/{{1.dealId}}",
        "serializeUrl": false,
        "method": "PATCH",
        "headers": [
          {
            "name": "Content-Type",
            "value": "application/json"
          },
          {
            "name": "Authorization",
            "value": "Bearer {{HUBSPOT_API_KEY}}"
          }
        ],
        "qs": [],
        "bodyType": "raw",
        "parseResponse": true,
        "authUser": "",
        "authPass": "",
        "timeout": "",
        "shareCookies": false,
        "ca": "",
        "rejectUnauthorized": true,
        "followRedirect": true,
        "useQuerystring": false,
        "gzip": true,
        "useMtls": false,
        "contentType": "application/json",
        "data": "{\"properties\": {\"dealstage\": \"{{HUBSPOT_STAGE_QUOTES_RX}}\", \"quotes_requested_date\": \"{{now | date: '%s'}}\"}}"
      }
    },
    {
      "id": 6,
      "module": "gmail:ActionSendEmail",
      "version": 1,
      "metadata": {
        "designer": {
          "x": 1500,
          "y": 0
        }
      },
      "mapper": {
        "to": "{{BROKER_EMAIL}}",
        "subject": "\ud83d\udce8 RFQs sent: {{3.properties.dealname}}",
        "content": "Quote requests sent to all suppliers.\nDeal: {{1.dealId}}\nReminder auto-sends at day 7. Quotes compiled at day 10.",
        "contentType": "text"
      }
    }
  ],
  "metadata": {
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true
    },
    "designer": {
      "orphans": []
    }
  }
}